/** FLASH MESSAGE STYLE */

div#flash-message {
	margin:10px;	
}

div#flash-message div.message-inner {
	padding: 20px;	
}

div#flash-message.success {
	border: 1px solid #238E3A;
	background-color : #7ED68F;
	color: #238E3A;			
}

div#flash-message.error {
		border: 1px solid #A52222;
		background-color : #DB7878;
		color: #A52222;
}

div#flash-message.info {
	border: 1px solid #EFC340;
	background-color : #EDD38E;
	color: #725B1B;
}	